---
import { Icon } from "astro-icon";

import { SITE_TITLE } from "../../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle";
import Navbar from "./Navbar";
---

<header
  class="sticky top-0 z-20 bg-slate-50 dark:bg-black text-black dark:text-white flex items-center justify-between w-10/12 mx-auto py-4 border-b border-gray-00 dark:border-gray-600"
>
  <a href="/">
    <h2 class="text-lg link-underline">
      {SITE_TITLE}
    </h2>
  </a>
  <!-- <ThemeToggle client:load /> -->
  <div class="sm:hidden block">
    <Navbar client:load />
  </div>
  <nav class="hidden sm:flex items-center gap-6">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/database">Database</HeaderLink>
    <HeaderLink href="/java">Java Programming</HeaderLink>
    <HeaderLink href="/dotnet">Microsoft.NET</HeaderLink>
    <ThemeToggle client:load />
    <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
    <!-- <HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink> -->
  </nav>
</header>
