---
import { SITE_TITLE } from "../../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle";
import Navbar from "./Navbar";
---

<header
  class="sticky top-0 z-20 text-black dark:text-white flex items-center justify-between w-10/12 mx-auto py-4 border-b border-gray-300 dark:border-gray-600 backdrop-blur-sm"
>
  <a href="/">
    <h2 class="text-lg link-underline">
      {SITE_TITLE}
    </h2>
  </a>
  <div class="sm:hidden block">
    <Navbar client:load />
  </div>

  <nav class="hidden sm:flex items-center gap-6">
    <!-- <HeaderLink href="/">HOME</HeaderLink> -->
    <HeaderLink href="/database">DBMS</HeaderLink>
    <HeaderLink href="/dotnet">PT | .NET</HeaderLink>
    <HeaderLink href="/java">PT | JAVA</HeaderLink>
    <ThemeToggle client:load />
  </nav>
</header>
