---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class="link-underline rounded py-1 text-gray-900 dark:text-gray-100 sm:py-2"
  {...props}
>
  <slot />
</a>
