---
import Footer from "../components/shared/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Featured from "../components/Featured.astro";
import BaseHead from "../components/shared/BaseHead.astro";
import Header from "../components/shared/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-slate-50 dark:bg-black text-black dark:text-white">
    <Header title={SITE_TITLE} />

    <main>
      <Featured />
      <Featured />
      <Featured />
    </main>
    <Footer />
  </body>
</html>
