---
import { Icon } from "astro-icon";
import { items } from "../constants";
---

<section class="w-10/12 mx-auto">
  <div
    class="grid gap-4 my-20 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 dark:text-white items-stretch cursor-pointer"
  >
    {
      items.map(({ icon }) => (
        <div class="relative flex flex-col p-4 bg-white dark:bg-zinc-900 rounded shadow-lg hover:shadow-md transition border border-transparent ">
          <div class="flex items-center justify-between">
            <Icon name={icon} class="w-10 h-10" />
          </div>
        </div>
      ))
    }
  </div>
</section>
