---
import BaseHead from "../components/shared/BaseHead.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-slate-50 dark:bg-black text-black dark:text-white">
    <Header />

    <main class="grid grid-cols-6 w-11/12 space-x-2 mx-auto my-6">
      <div class="col-span-6 md:col-span-4">
        <article
          class="prose prose-pink dark:prose-invert max-w-none tracking-tighter antialiased prose-h1:text-3xl prose-h2:text-xl prose-h3:text-lg prose-h2:text-zinc-800 prose-h3:text-zinc-600 dark:prose-h2:text-zinc-200 dark:prose-h3:text-zinc-300"
        >
          {
            heroImage && (
              <img
                width={800}
                height={400}
                class="border-b-4 border-red-600 aspect-video"
                src={heroImage}
                alt=""
              />
            )
          }
          <slot />
        </article>
      </div>
      <div class="col-span-2 bg-slate-300"></div>
    </main>
    <Footer />
  </body>
</html>
